body{
    background-color: azure;
}

input{
    border: 2px double green;
    text-align: center;
    color: brown;
}

#miDivision{
    border: 4px solid black;
    height: 100%;
    width: 100%;
}

#misionTic{
    border: 5px solid red;
    height: auto;
    width: auto;
}

.fondoAzul{
    background-color: blue;
}

.bordeBlanco{
    border: 2px double green !important;
    border-radius: 10;
}

input[type=button] :hover{
    background-color: yellow;
    cursor: pointer;
}